<p>
  <b>Top 10 Words for URL:</b>
  <%=h @webpage.url %>
  <ol> 
	  <% @webpage.word_count.each do |word| %>
		  <li><%= "#{word[0]} - #{pluralize(word[1], 'time')}" %>
	  <% end %>	  
  </ol>
</p>


<%= link_to 'Count more words', new_webpage_path %>
<%= link_to 'History', webpages_path %>
